.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.create-post {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.post-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-button {
  width: 100%;
}

.post-image {
  width: 300px;
  height: 300px;
}
